<h2>Table</h2>

<table class="table table-striped table-dark col-md-6">
    <caption>Table with Angular</caption>
    <thead>
        <th>Number</th>
        <th>Product</th>
        <th>Price</th>
    </thead>
    <tbody>
        <tr *ngFor='let product of Products; let i = index' #tr>
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <button type="button" style="margin-top: 5px;" class="btn btn-secondary" (click)="deleteElement(i, product.id)">Delete</button>
        </tr>
    </tbody>
</table>